<div class="wall_container" masonry-wall-dir=".item" masonry-wall-options="{
            columnWidth: '.grid-sizer',
            itemSelector: '.item',
            gutter: 0,
            transitionDuration: '0.3s'
        }">
    <div class="grid-sizer"></div>
    <div class="item" ng-repeat="product in game.getProducts()" custom-directive="" masonry-item-dir="">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon {{product.icon}} white"></span>
                    {{product.title}}
                    <span class="badge pull-right">{{product.quantity() | number:0}}</span>
                </h3>
            </div>
            <div class="panel-body media">
                <a class="pull-left" href="#">
                    <img class="media-object img-circle" ng-src="{{product.image}}" alt="{{product.title}}">
                </a>
                <p class="hidden-xs">{{product.description}}</p>
                <p>
                    <span class="label label-info pull-right">Price <span class="badge">{{product.currentPrice | number:0}}</span></span>
                </p>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary pull-right btn-lg ng-class: {disabled: !game.canProductBeBought(product.name)};" ng-click="game.buy(product.name)">Buy</button>
                <button class="btn btn-danger ng-class: {disabled: !game.canProductBeSoled(product.name)};" ng-click="game.sell(product.name)">Sell</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>