<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>{{game.getTitle()}}</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis ut dui at gravida. Curabitur tempor volutpat velit eu accumsan. Donec justo arcu, fringilla ac iaculis ac, ultrices placerat urna. Duis id convallis turpis. Pellentesque cursus rhoncus vestibulum.
                </p>
                <p>
                    Nam pellentesque massa ligula, mattis tincidunt leo fermentum vel. Aliquam ut neque aliquam, egestas erat luctus, aliquam felis. Etiam tincidunt tincidunt elit. Suspendisse porta urna nisi, a fermentum felis scelerisque sit amet. Duis suscipit varius accumsan.
                </p>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x300" alt="Great Pixel" ng-click="clickPixel()">
                    <div class="caption">
                        <h3>Great Pixel</h3>
                        <p>
                            <span class="label label-primary">Pixels</span>
                            <span class="badge pull-right">{{game.formatDecimal(game.getNumberOfClicks())}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="NavigationCtrl">
    <tabset type="navType">
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
            <div ng-include="tab.content"></div>
        </tab>
    </tabset>
</div>