<div class="hero-unit">
    <div id="main-pixel" class="pull-right" ng-click="click()"></div>

    <h1>{{title}}</h1>

    <p>You now have pixel to click</p>

    <p>Number of clicks: <span>{{numberOfClicks}}</span></p>

    <div class="clearfix"></div>
</div>

<div ng-controller="NavigationCtrl">
    <tabset  type="navType">
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
            <div ng-include="tab.content"></div>
        </tab>
    </tabset>
</div>