<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>{{game.getTitle()}}</h1>
                <p class="hidden-xs">
                    Hello, chosen one! This is serious matter and we need to discuss it immediately. The Universe is in
                    The Great Danger and, most definitely, only You can save us from this terrible threat.
                </p>
                <p class="hidden-xs">
                    To defeat The Evil You must gather Your army of pixels. You can do it by pressing The Great Pixel
                    and also by purchasing pixel generating equipment in our shop. Of course You will receive generous
                    discount when You defeat The Evil.
                </p>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img id="main-pixel" src="http://placehold.it/300x300" alt="Great Pixel" ng-click="clickPixel()">
                    <div class="caption">
                        <h3>Great Pixel</h3>
                        <p>
                            <span class="label label-primary">Pixels</span>
                            <span class="badge pull-right">{{game.formatDecimal(game.getNumberOfClicks())}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="NavigationCtrl">
    <tabset type="navType">
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
            <div ng-include="tab.content"></div>
        </tab>
    </tabset>
</div>