<div ng-controller="ShopCtrl">
    <ul class="list-unstyled row">
        <li class="col-md-3" ng-repeat="product in game.getProducts()">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon {{product.icon}} white"></span> {{product.title}}
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img src="{{product.image}}" alt="{{product.title}}" class="img-circle">
                        <div class="caption">
                            <p>{{product.description}}</p>
                        </div>
                        <p>
                            <span class="label label-info">Quantity</span>
                            <span class="badge pull-right">{{game.formatInt(product.quantity())}}</span>
                        </p>
                        <p>
                            <span class="label label-info">Price</span>
                            <span class="badge pull-right">{{game.formatInt(product.currentPrice)}}</span>
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary pull-right btn-lg ng-class: {disabled: !game.canProductBeBought(product.name)};"
                            ng-click="game.buy(product.name)">Buy</button>
                    <button class="btn btn-danger ng-class: {disabled: !game.canProductBeSoled(product.name)};"
                            ng-click="game.sell(product.name)">Sell</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </li>
    </ul>
</div>